.navbar{
    position:fixed;
    background-color: rgb(73, 35, 4);
    top:0;
    width:100%;
    height: 70px;
    opacity:0.8;
    z-index:1;
    border-bottom: #000000 3px solid;
    overflow: visible;
}

.navlist{
    list-style: none;
}

.jade{
    display: grid;
    margin-left: 80px;
    margin-top: 50px;
    align-items: center;
    z-index: -1;
}

.navbar a{
    float: left;
    text-align: center;
    padding: 20px;
    text-decoration: none;
    color: black;
    font-size: 25px;
    }
    .navbar a:hover{
        color:burlywood;
    }

    body {
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
        font-family:Verdana, Geneva, Tahoma, sans-serif;
        background-color: rgb(151, 62, 11);
      }
      p{
        max-width: 900px;
    }

.introh{
    text-align: center;
    font-size: 65px;
    margin: 30px;
    padding: 20px;
}

.introp{
    text-align: center;
    font-size: 35px;
    margin: 30px;
    padding: 20px;
    color: blanchedalmond;
}

.about{
    font-size: 65px;
    margin: 40px;
}

.skillsdiv{
    margin: 40px;
}

.projects-sec{
    margin: 40px;
}

.exp-list{
    list-style: circle ;
    align-items: center;
    text-align: center;
    font-size: larger;
}

.begin{
    margin: 100px;
    margin-right: 30px;
    font-size: 24px;
}

footer{
    margin:0px;
   
}

.fa {
    padding: 10px;
    font-size: 50px;
    width: 20px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    color: black;
  }

  .copyright{
      text-align: center;
      margin: 0;
      width:100%;
      font-weight: 600;
      margin-left: 400px;
  }